body{
    color: white;
    background-color: black;
    padding-top: 4rem;
}

textarea{
    width: 50rem;
    height: 20rem;
    margin-top: 1rem;
    background-color: transparent;
    color: white;
    font-size:small;
}

form{
    display: flex;
    flex-direction: column;
}

input#submitBtn{
    width: 6rem;
    padding-top: 4px ;
    padding-bottom: 4px ;
    margin-top: 2rem;
    font-size: small;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease;
}

input#submitBtn:hover{
    cursor: pointer;
}

input#submitBtn:active{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
}

input#shift{
    width: 10rem;
    margin-top: 2rem;
}

.hidden{
    display: none;
}

#encryptedText{
    text-align: left;
    padding: 2rem;
}

#encryptedTextInnerWrapper{
    position: relative;
    border: solid 1px white;
}

#encryptedTextWrapper{
    margin-top: 4rem;
    width: 80%;
    align-items: right;
}

p{
    text-align: left;
}

label{
    width: 50rem;
    text-align: left;
}

#copyBtn{
    background-color: white;
    position: absolute;
    right: 0px;
}

#copyBtn:hover{
    cursor: pointer;
}